body {
    padding: 0px;
    margin: 0px;
}

.difference-display {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

pre {
    display: block;
    box-sizing: border-box;
    width: 50vw;
    border: 1px solid red;
    margin: 0;
    padding: 0;
    /* width: 50%; */
    white-space: pre-wrap;
    white-space: -moz-pre-wrap;
    white-space: -pre-wrap;
    white-space: -o-pre-wrap;
    word-wrap: break-word;
}